<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="about-section">
  <h1>Quien soy</h1>
  <p><b> Estudiante de programación, en Buenos Aires, Argentina.</b></p>
  
</div>

<br>
<br>

<div class="container-fluid center">
    <div class="row justify-content-md-center">

        <!--<div class="">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
    
            <h2>Heading</h2>
            <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
            <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
          </div>     /.col-lg-4 col-md-4 -->
          
            <div class="col">
              
            </div>
            <div class="col justify-content-md-center">
                <div class="row justify-content-md-center">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <img src="https://lh3.googleusercontent.com/a-/AOh14Gi2Kl2TM_UDLiIfJSN6AdT_DHQT7IHeCGqqo1p9BLI=s360-c" alt="..." class="rounded-circle" width="200" height="200">
                    </div>
                    
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <h2>Nicolás Aramayo</h2>
                        <p><i> Soy estudiante de programación por la Universidad Tecnológica Nacional. Trabajo como desarrollador .NET para un instituto académico.</i></p>
                        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>  
                    </div>
                </div>
                    
               
                
        
                   
            </div>
            <div class="col">
              
            </div>
          
        
    </div>
</div>

</body>
</html>